@model LibraryMVC.Models.BookDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Deleting <i>"@Html.DisplayFor(model => model.Title)"</i></h1>

<h3>Are you sure you want to delete this book?</h3>

<div>
    <hr />
    <div class="d-flex">
        <div class="w-50">
            <dl class="row">
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Publisher)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Publisher)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.Translation)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.Translation)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumberOfPages)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumberOfPages)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.DateOfPublication)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.DateOfPublication)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.IDNumber)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.IDNumber)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.NumberOfPiecesAvailable)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.NumberOfPiecesAvailable)
                </dd>
                <dt class="col-sm-4">
                    @Html.DisplayNameFor(model => model.CategoryName)
                </dt>
                <dd class="col-sm-8">
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>
            </dl>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                    <div class="mt-3">
                        <button class="btn btn-dark my-3 me-3 px-3 py-1">
                            <a class="link-light text-decoration-none" asp-action="Index">Back to List</a>
                        </button>
                        <input type="submit" value="Delete" class="btn btn-danger px-3" />
                    </div>
            </form>
        </div>
        <div class="w-50">
            <img class="w-50 img-fluid" src="@Model.ImageUrl"
        </div>
    </div>
</div>
    