@model IEnumerable<LibraryMVC.Models.BookDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Book Library</h1>
<h4>Browse our books below</h4>
<partial name="_TempDataView" />
@if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee"))){
    <button class="btn btn-dark my-3 ">
        <a class="link-light text-decoration-none" asp-action="Create">Add a book</a>
    </button>
}

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    <button class="btn btn-dark me-3 ms-5 py-1 px-3"><a class="link-light text-decoration-none" asp-action="Details" asp-route-id="@item.Id">Details</a> </button>
                    @if (User.Identity.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Employee")))
                    {
                        <button class="btn btn-warning me-3 py-1 px-3"> <a class="link-light text-decoration-none" asp-action="Edit" asp-route-id="@item.Id">Edit</a></button>
                        <button class="btn btn-danger py-1 px-3"><a class="link-light text-decoration-none" asp-action="Delete" asp-route-id="@item.Id">Delete</a></button>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
