@model IEnumerable<LibraryMVC.Models.BorrowedBookDto>

<h1>Book Library</h1>
<h4>Browse our books below</h4>
<partial name="_TempDataView" />

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                Borrowed Start
            </th>
            <th>
                Borrowed Stop
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Start)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stop)
                </td>
                    <td>
                         <button class="btn btn-dark me-3 ms-5 py-1 px-3"><a class="link-light text-decoration-none" asp-action="Returning" asp-route-id="@item.Id">Return</a> </button>
                </td>
            </tr>
        }
    </tbody>
</table>

